@font-face {
    font-family: 'timeburnernormal';
    src:local('timeburnernormal'), 
        url(./font/timeburner/timeburnernormal.ttf)
        format('truetype')
    ;
}

@font-face {
    font-family: 'economica';
    src:local('economica'), 
        url(./font/Economica/Economica-Regular.ttf)
        format('truetype')
    ;
}

@font-face {
    font-family: 'please_write_me_a_song';
    src:local('please_write_me_a_song'), 
        url(./font/please_write_me_a_song/Please\ write\ me\ a\ song.ttf)
        format('truetype')
    ;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 18px timeburnernormal;
    -webkit-font-smoothing: antialiased;
    
    background-image: url(image/fundo.jpeg);
    background-repeat: repeat-y;
    background-size: cover;
}

input, button, textarea, li{
    font: 400 20px timeburnernormal;
    text-decoration: none;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

button{
    background-color: #ff3f95;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 600px){
    body{
        background-size: auto;
    }
}